<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <meta name="description" content="{{ site.title | default: site.github.repository_name }} : {{ site.description | default: site.github.project_tagline }}">

    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
<script src="assets/js/moment.min.js"></script>
{% seo %}
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <center><img src="/assets/images/v015banner.jpg" width="640" style="border: none; box-shadow: none;"></center>
        </header>
        
        <div style="text-align:center; margin-top: -1%;"><a href="/index.html" class="btn-gradient blue">Home</a> <a href="{{ site.posts.first.url }}" class="btn-gradient blue">Latest Version</a> <a href="https://store.steampowered.com/app/861540/Dicey_Dungeons/" class="btn-gradient blue">Steam Page</a> <a href="https://discord.gg/PBW2t76" class="btn-gradient blue">Join the Discord</a></div>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        {{ content }}
      </section>
    </div>

    <!-- FOOTER  
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        {% if site.github.is_project_page %}
        <p class="copyright">{{ site.title | default: site.github.repository_name }} maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
      </footer>
    </div>-->
    {% include footer.html %}
  </body>
</html>
