{% if post.title %}
  <center>
  <h1 class="entry-title">
      <a href="{{ post.versionlink }}">Play {{ post.title }} here</a>
  </h1>
   <div style="text-align:center; font-size: large; margin-top: -7%;"><br>The latest build is <span style="font-weight: bold;">{{ post.versionnumber }}</span>, from <span style="font-weight: bold;">{{ post.date | date: '%B %d, %Y' }}</span>, <span id="latestversion"></span>.<br><a href="{{ post.url }}">[read the update notes]</a></div>
  <a href="{{ post.versionlink }}"><img src="{{ post.topimage }}" width="640"></a>
  <div style="text-align:center; font-size: large; margin-top: -1%;">New builds come out every couple of weeks!</div></center>
<script>
  var latestversion = moment("{{ post.date | date_to_xmlschema  }}");
  var nextversiondue = moment("{{ site.nextbuild | date_to_xmlschema  }}");
  document.getElementById('latestversion').innerHTML = latestversion.fromNow();
  document.getElementById('nextversiondue').innerHTML = nextversiondue.fromNow();
</script>
{% endif %}