{% if post.title %}
  <center>
  <a href="{{ post.versionlink }}"><img src="{{ post.topimage }}" width="640"></a>
  <h1 class="entry-title" style="margin-top: -3%;">
     Latest version: {{ post.title }}
  </h1>
   <div style="text-align:center; font-size: large; margin-top: -3%;">from <span style="font-weight: bold;">{{ post.date | date: '%B %d, %Y' }}</span>.  <a href="{{ post.url }}">[read the update notes]</a><br><br><a href="https://store.steampowered.com/app/861540/Dicey_Dungeons/">Wishlist us on steam</a> to get a reminder when the game comes out!<br> Or, play the latest alpha ({{ post.versionnumber }}) right now on <a href="{{ post.versionlink }}">itch.io</a>!<br><br></div></center>
<script>
  var latestversion = moment("{{ post.date | date_to_xmlschema  }}");
  var nextversiondue = moment("{{ site.nextbuild | date_to_xmlschema  }}");
  document.getElementById('latestversion').innerHTML = latestversion.fromNow();
  document.getElementById('nextversiondue').innerHTML = nextversiondue.fromNow();
</script>
{% endif %}